
.redes-sociales a i {
  font-size: 35px; 
  padding: 10px;
}

.instagram{
  color :hotpink;
}

.facebook{
  color : blue;
}


footer {
  background-color:  #ffffff;
  color: #000000;
  text-align: center;
  padding: 10px; 
  font-family: serif;
  margin-top: 250px;
}
footer h4 {
  font-weight: bold;
  color: #eedcae;
}
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.card {
  width: 400px;
  padding: 20px;
}
body  {
  background-color: #74002e;
  color: #eedcae;
  padding: 20px;
}
.btn-primary {
  background-color:#550A35; 
  border-color: #550A35; 
  color: #DAA520; 
  margin-bottom: 10px;
  margin-top: 10px;
}

.cuerpo-usuarios h1{
  margin-top: 35px;
}

.table-usu {
  background-color: rgb(255, 255, 255);
}

.tabla-usu th,
        .tabla-usu td {
            border: 1px solid #dee2e6;
            padding: 8px;
        }

        .tabla-usu th {
            background-color:#eedcae;;
            color: #fff;
        }

 
 
.tabla-usu {
  background-color: rgb(255, 255, 255);
}

.btn-save {
  max-width: 150px; /* Reducir el ancho del botón Guardar */
}